[Unit]
Description=Gewicht-Sammler-service.

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/bienen/weight-datageneration.py

[Install]
WantedBy=multi-user.target